.accordion {
  width: 100%;
}
.accordion li:hover {
  background: white;
  transition: ease .5s;
}
.accordion li button {
  width: 100%;
  height: 10%;
  padding: 5px 0;
  text-align: left;
  background: transparent url(../images/right-angle-bracket-symbol-icon-65027.png) 98% 50% no-repeat;
  background-size: 25px;
}
.accordion li ul {
  background: #c0c0c0;
  font-size: 24px;
}

